.parentCard {
    display: flex;
    color: white;
    text-align: center;
    background-color: rgb(224, 224, 224);
    margin: 0.2rem;
    padding: 0.1rem;
    border-radius: 10px;

}


.card1 {
    padding: 2rem;
    width: 40rem;
    margin: 0.3rem;
    background-color: #d1cb56;
    border-radius: 10px;
}

.card2 {
    padding: 2rem;
    width: 40rem;
    margin: 0.3rem;
    background-color: #5fa342;
    border-radius: 10px;
}

.card3 {
    padding: 2rem;
    width: 40rem;
    margin: 0.3rem;
    background-color: #dd3535;
    border-radius: 10px;
}